<div class="map">
    <div class="overlay"></div>
</div>
<!--        <iframe class="map-api" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1409.6502748661253!2d38.96938268774318!3d45.03912254429128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x497e3cef2be56a7c!2z0JrRgNCw0YHQvdC-0LTQsNGA0YHQutC40Lkg0JPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INCm0LjRgNC6!5e0!3m2!1sru!2sru!4v1472903565123" height="416" frameborder="0" style="border:0" allowfullscreen seamless></iframe>-->
<!--       <iframe class="map-api" src="https://api-maps.yandex.ru/frame/v1/-/CZFM5HP9" height="416" frameborder="0"></iframe>-->

<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=g-cR29pMhLe2JNT506O8_ahuQx9o2_qp&amp;width=100%25&amp;height=416&amp;id=yandex-map;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>